@import "tailwindcss";

/* agar  smooth scrollingnya */
html {
  scroll-behavior:smooth;
}

/* scrolbar kostum untuk dark theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}